<%- include('header'); -%>
<div class="content">
<h1 id="welcome">Login Page</h1>
<form action="/api/login" method="post">
    <h1>Username: <input type="text" id="username" name="username"></h1>
    <h1>Password: <input type="password" id="password" name="password"></h1>
    <input type="submit" id="login" name="login" value="Login">
    <a href="/register">Register an account instead</a>
</form>
</div>
<%- include('footer'); -%>